
.leave-balance-info {
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
    text-align: center; /* Center align text */
    min-height: 191px;
    max-height: 191px;
    overflow-y: auto; /* Add scrollbar if content exceeds max height */

}

.leave-balance-info ul {
    list-style: none; /* Remove default bullet points */
    padding-left: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.leave-balance-info li {
    margin-bottom: 10px;
}

.leave-balance-info li strong {
    margin-right: 5px;
}
