<div class="leave-types-setting">
    <h2>Leave Types Setting</h2>
    <div *ngFor="let leaveType of leaveTypes" class="leave-type">
        <div class="leave-details">
            <div><strong>Leave Name:</strong> {{ leaveType.leave_name }}</div>
            <div><strong>Description:</strong> {{ leaveType.desc }}</div>
        </div>
        <div class="action-buttons">
            <div class="button-container">
                <button class="edit-button">Edit</button>
                <button class="remove-button">Remove</button>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="add-button">Add Leave Type</button>

    </div>

</div>
