.leave-types-setting {
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.leave-type {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 35px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.leave-type div {
    margin-bottom: 5px;
}

.leave-type div strong {
    margin-right: 5px;
}

.action-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    /* margin-right: 10px; */
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.edit-button,
.remove-button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

.add-button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}



.job-position-dropdown {
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
}

.job-position-dropdown label {
    font-weight: bold;
    margin-right: 10px;
}

.job-position-dropdown select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.job-position-dropdown select:focus {
    border-color: #007bff;
    outline: none;
}

.job-position-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: auto;
}


.edit-button,
.remove-button {
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}


.no-leave-request-message {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-top: 80px;
    margin-bottom: 80px;
}

.edit-days-container {
    display: flex;
    align-items: center;
}

.edit-days-container input {
    width: 50px;
    text-align: center;
}

.increase-button,
.decrease-button {
    padding: auto 40px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
}

.increase-button:hover,
.decrease-button:hover {
    background-color: #0056b3;
}

.confirm-button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    background-color: #28a745;
    /* Green color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #218838;
    /* Darker green on hover */
}

.cancel-button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    background-color: #ffc107;
    /* Yellow color */
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #e0a800;
    /* Darker yellow on hover */
}