<div class="staff-list-form">
  <h1 class="title">Create Staff Account</h1>
  <form (ngSubmit)="submitStaff()">
    <div class="form-group">
      <label for="staffName">Staff Name:</label>
      <input type="text" id="staffName" name="staffName" required [(ngModel)]="staff.FullName">
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required [(ngModel)]="staff.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contactNumber">Contact Number:</label>
      <input type="text" id="contactNumber" name="contactNumber" required [(ngModel)]="staff.contact_number">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="staff.email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="staff.password">
    </div>
    <div class="form-group">
      <label for="jobPosition">Job Position:</label>
      <select id="jobPosition" name="jobPosition" required [(ngModel)]="staff.job_position_id">
        <option *ngFor="let option of jobPositionOptions" [value]="option.value">{{ option.display }}</option>
      </select>
    </div>
    <div class="button-container">
      <button type="submit">Create Account</button>
    </div>
  </form>
</div>
