<div class="calendar">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [eventTitleTemplate]="eventTitleTemplate">
    </mwl-calendar-month-view>
  </div>
  
  <ng-template #eventTitleTemplate let-event="event">
    <div class="event-title">
      <div>{{ event.title }}</div>
      <div>Start Date: {{ event.start | date:'mediumDate' }}</div>
      <div>End Date: {{ event.end | date:'mediumDate' }}</div>
      <!-- Add other leave request details as needed -->
    </div>
  </ng-template>
  