/* Remove padding-right for the last column */
.col-last {
  padding-right: 12px;
}

/* Push button to the right */
.text-right {
  text-align: right;
}

/* Calendar Container */
.calendar {
    border: 2px solid #000000;
    padding: 10px;
    background-color: #ffffff;
  }
  
  /* Legend Item */
  .legend {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* Legend Color */
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  /* Legend Text */
  .legend-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Event Title */
  .event-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Event Date */
  .event-date {
    font-size: 14px;
    color: #777;
  }
  
  /* Event Details */
  .event-details {
    font-size: 14px;
    color: #333;
  }
  