.profile {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-left {
    flex-shrink: 0;
  }
  
  .profile-right {
    flex-grow: 1;
  }
  
  h1 {
    margin-bottom: 15px;
    color: #000000;
  }
  
  .profile-right h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .profile-info, .company-info {
    margin-bottom: 15px;
  }
  
  .profile-info div {
    margin-bottom: 5px;
  }
  
  .profile-info div strong {
    margin-right: 5px;
  }
  
  .edit-profile-btn {
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .edit-profile-btn:hover {
    background-color: #0056b3;
  }
  
  .fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .company-info {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    display: flex;
    gap: 8px
  
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  }
  
  .stat-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin-right: 5px;
  }
  
  .stat-item:last-child {
    margin-right: 0;
  }
  
  .icon{
    width: 25px;
    height: 25px;
  }