<div class="staff-list">
    <h2>Staff Account Manager List</h2>
    <div *ngIf="staffList.length === 0" class="no-staff-message">
      Currently you have no staffs yet
    </div>
    <div *ngFor="let staff of staffList" class="staff-box">
      <div class="staff-content">
        <div class="staff-left">
          <img [src]="getPhotoUrl(staff.photo_staff)" alt="Profile Picture" class="profile-pic fixed-size">
        </div>
        <div class="staff-right">
          <h2>{{ staff.FullName }}</h2>
          <div class="staff-details">
            <div><strong>Contact Number:</strong> {{ staff.contact_number }}</div>
            <div><strong>Email:</strong> {{ staff.email }}</div>
            <div><strong>Job Position:</strong> {{ staff.job_position?.position_name }}</div>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button class="edit-button" (click)="editStaffInNewTab(staff.id)">Edit</button>
        <button class="remove-button" (click)="confirmDelete(staff.id)">Remove</button>
      </div>
    </div>
  </div>
  