.staff-list {
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
    min-height: 514px; /* Set max height */
    max-height: 514px; /* Set max height */
    overflow-y: auto; /* Add scrollbar if content exceeds max height */
  }
  
  .staff-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .staff-details div {
    margin-bottom: 5px;
  }

  
  
  .staff-details div strong {
    margin-right: 5px;
  }

  .filter {
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.edit-button,
.remove-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.remove-button {
    background-color: #dc3545;
}

.edit-button:hover,
.remove-button:hover {
    opacity: 0.8;
}
