.profile {
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
    width: 600px;
    text-align: center; /* Center align text */
  }
  
  .profile-info div {
    margin-bottom: 10px;
  }
  
  .profile-info div strong {
    margin-right: 5px;
  }
  
  .edit-profile-btn {
    margin-top: 15px; /* Adjust margin as needed */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-profile-btn:hover {
    background-color: #0056b3;
  }

  .fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
  }