.leave-request-container {
    display: flex;
    gap: 8px; /* Adjust the gap between the two sections as needed */
    flex-wrap: wrap;
    }
  
  .leave-request-details {
    flex: 1; /* Make both sections flexible to occupy equal space */
    margin-top: 8px;
  }
  
  .staff-details {
    background-color: #fff;
    border: 2px solid black;
    padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
    margin-left: 8px;
  line-height: 2;

  }
  
  .request-details {
    background-color: #fff;
    border: 2px solid black;
    padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
    margin-right: 8px;
  line-height: 2;
  }
  
  .manager-comments {
    width: 100%; /* Occupy full width */
    background-color: #fff; /* Match background color of details */
    border: 2px solid black; /* Match border style (optional) */
    padding: 15px; /* Consistent padding */
    margin-left: 8px; /* Add spacing above comments */
    margin-right: 8px; /* Add spacing above comments */

  }  

  .manager-comments textarea {
    width: 100%; /* Occupy full width */
    resize: both; /* Allow resizing the textarea */
    border: 1px solid #ccc; /* Lighter border */
    padding: 5px; /* Inner padding */
    font-family: inherit; /* Inherit font from surrounding elements */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .manager-comments textarea:focus {
    outline: 2px solid #ddd; /* Highlight on focus */
  }
  
  .manager-comments textarea::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  .manager-comments textarea::-webkit-scrollbar-thumb {
    background: #ddd; /* Color of the scrollbar thumb */
  }
  
  .button-container {
    margin: 0px auto;
  }
  
  .button-container button {
    margin-top: 10px;
    margin-right: 10px; /* Add margin between buttons */
    width: 120px;
  }
  