<div class="content">
    <div class="sidebar">
        <app-navbar (navigateTo)="scrollTo($event)"></app-navbar>
    </div>
        <div class="profile" #profile>
            <app-profile></app-profile>
        </div>
        <div class="main-content">

        <div class="leave-balance" #leaveBalance>
            <app-leave-balance></app-leave-balance>
        </div>
        <div class="view-leave-request" #viewLeaveRequest>
            <app-view-leave-request></app-view-leave-request>
        </div>
    </div>
    <div class="calendar" #calendar>
        <app-calendar></app-calendar>
    </div>
    <div class="leave-request-form" #leaveRequestFormPage>
        <app-leave-request-form (formSubmitted)="onFormSubmitted()"></app-leave-request-form>
    </div>
</div>
