.h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }

  .title {
    text-align: center;
  }

  .login-container {
    background-color: #fff; /* Background color for the container */
    padding: 20px;
    border-radius: 10px;
  }

  /* Positioning the title and form */
  @media (min-width: 768px) {
    .title {
      position: absolute;
      left: 50px; /* Adjust this value to your preference */
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
    }

    .col-md-8 {
      position: absolute;
      right: 50px; /* Adjust this value to your preference */
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
    }
  }