<div class="content">
    <div class="sidebar">
        <app-navbar></app-navbar>
    </div>
    <div class="profile">
        <app-view-profile></app-view-profile>
    </div>
    <div class="view-staff-manager">
        <app-view-staff-manager></app-view-staff-manager>
    </div>

    <div class="create-staff">
        <app-create-staff></app-create-staff>
    </div>
    <div class="leave-request-manager">
        <app-view-leave-request-manager></app-view-leave-request-manager>
    </div>
    <div class="calendar">
        <app-calendar></app-calendar>
    </div>
    <div class="leave-types-setting">
        <app-view-leave-types-setting></app-view-leave-types-setting>
    </div>
    <div class="job-position-setting">
        <app-view-job-position-setting></app-view-job-position-setting>
    </div>
</div>