.content {
    display: flex;
    gap: 8px;
    margin-left: 279px;
    flex-wrap: wrap;
}


.profile {
    margin-top: 8px;
}

.view-staff-manager {
    margin-top: 8px;
    margin-right: 8px;
    flex-grow: 1;
}

.create-staff {
    flex-basis: calc(100%); /* Calculate the width of the element */
    margin-left: 8px;
    margin-right: 8px;
}

.leave-request-manager {
    flex-basis: calc(100%); /* Calculate the width of the element */
    margin-left: 8px;
    margin-right: 8px;
}

.leave-types-setting {
    flex-basis: calc(50%); /* Calculate the width of the element */
    margin-left: 8px;
}

.job-position-setting {
    flex-basis: calc(47%); /* Calculate the width of the element */
    margin-right: 8px;
}
