.smaller-form {
    max-width: 500px; /* Adjust the max-width as needed */
    margin: auto; /* Center the form horizontally */
  }
  
  .form-heading {
    text-align: center; /* Center the heading */
  }
  
  .bigger-input {
    height: 45px; /* Increase height to make the input bigger */
    border: 2px solid #000; /* Add black border */
    border-radius: 5px; /* Add border-radius for rounded corners */
  }

  .button-submit{
    margin-top: 15px;
    text-align: center;
  }
  
  .custom-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff; /* Bootstrap's primary color */
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Darker shade of primary color */
    border-color: #0056b3;
  }
  