<div class="profile">
    <img src="assets/admin.png" alt="Profile Picture" class="profile-pic">
    <h2>Profile Information</h2>
      <div class="profile-info">
        <div><strong>Name:</strong> John Doe</div>
        <div><strong>Gender:</strong> Male</div>
        <div><strong>Contact Number:</strong> +1234567890</div>
        <div><strong>Email:</strong> johndoe.com</div>
        <div><strong>Max staffs:</strong> 15</div>        
        <div><strong>Total current staffs:</strong> 12</div>
        <div><strong>Company Name:</strong> Example Inc.</div>
        <button class="edit-profile-btn">Edit Profile</button> <!-- New button -->
      </div>
    </div>
    