<form (ngSubmit)="submitRegister()" class="smaller-form">
    <h1>Admin Account Registration</h1>

    <!-- Section 1: Do you have a company registered? -->
    <div class="form-section">
        <h3 class="form-heading">Do you have a company registered?</h3>
        <div class="form-group">
            <select id="registeredCompany" name="registeredCompany" class="form-control bigger-input" [(ngModel)]="hasRegisteredCompany">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </div>

    <!-- Section 2: Company (Shown only if 'Yes' is selected) -->
    <div class="form-section" [hidden]="hasRegisteredCompany === 'no'">
        <h3 class="form-heading">Company Details</h3>
        <div class="form-group">
            <label for="companySelect">Select Company</label>
            <select id="companySelect" name="companySelect" class="form-control bigger-input" [(ngModel)]="admin.company_id" required>
                <option *ngFor="let option of companyOptions" [value]="option.value">{{ option.display }}</option>
            </select>
        </div>
    </div>
    
    <!-- Section 3: Package (Shown only if 'No' is selected) -->
    <div class="form-section" [hidden]="hasRegisteredCompany === 'yes'">
        <h3 class="form-heading">Select Package</h3>
        <div class="form-group">
            <label for="packageType">Package Type</label>
            <select id="packageType" name="packageType" class="form-control bigger-input" [(ngModel)]="company.package_type_id" required>
                <option *ngFor="let option of packageTypeOptions" [value]="option.value">{{ option.display }} : {{option.maxStaff}} max staffs</option>
            </select>
        </div>
    </div>
    
    <!-- Section 4: Company (Shown only if 'No' is selected) -->
    <div class="form-section" [hidden]="hasRegisteredCompany === 'yes'">
        <h3 class="form-heading">Company Details</h3>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" id="companyName" name="companyName" class="form-control bigger-input" [(ngModel)]="company.company_name" required>
        </div>
        <div class="form-group">
            <label for="registrationNumber">Registration Number</label>
            <input type="text" id="registrationNumber" name="registrationNumber" class="form-control bigger-input" [(ngModel)]="company.registration_number" required>
        </div>
        <div class="form-group">
            <label for="companyContactNumber">Contact Number</label>
            <input type="text" id="companyContactNumber" name="companyContactNumber" class="form-control bigger-input" [(ngModel)]="company.company_contact_number" required>
        </div>
        <div class="form-group">
            <label for="companyEmail">Email</label>
            <input type="email" id="companyEmail" name="companyEmail" class="form-control bigger-input" [(ngModel)]="company.company_email" required>
        </div>
        <div class="form-group">
            <label for="industry">Industry</label>
            <input type="text" id="industry" name="industry" class="form-control bigger-input" [(ngModel)]="company.industry" required>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" id="website" name="website" class="form-control bigger-input" [(ngModel)]="company.website" required>
        </div>
    </div>
    
    <!-- Section 5: Admin -->
    <div class="form-section">
        <h3 class="form-heading">Admin Details</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control bigger-input" [(ngModel)]="admin.username" required>
        </div>
        <div class="form-group">
            <label for="adminEmail">Email</label>
            <input type="email" id="adminEmail" name="adminEmail" class="form-control bigger-input" [(ngModel)]="admin.email" required>
        </div>
        <div class="form-group">
            <label for="adminPassword">Password</label>
            <input type="password" id="adminPassword" name="adminPassword" class="form-control bigger-input" [(ngModel)]="admin.password" required>
        </div>
        <div class="form-group">
            <label for="adminGender">Gender</label>
            <select id="adminGender" name="adminGender" class="form-control bigger-input" [(ngModel)]="admin.gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="adminContactNumber">Contact Number</label>
            <input type="text" id="adminContactNumber" name="adminContactNumber" class="form-control bigger-input" [(ngModel)]="admin.contact_number" required>
        </div>
        <div class="form-group">
            <label for="photo_admin">Your profile photo:</label>
            <input type="file" id="photo_admin" name="photo_admin" (change)="onFileChange($event)">
          </div>
    </div>
    
    <button type="submit" class="custom-button">Register</button>
</form>
